[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyrotools = "*"                             # For debugging

[packages]
# Main app framework
django = "~=4.2"                            # Framework
djangorestframework = "~=3.14"              # Framework for API
django-filter = "~=23.2"                    # For filtering database results
requests = "~=2.31"                         # API client to make requests to other APIs (Delete eventually)
psycopg2 = "~=2.9"                          # To connect to Postgres DB

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
