{% extends 'seeking_alpha.html' %}

{% block sa_content %}
    <nav class="date-selector">
        <span class="date-selector-label">Month:</span>
        {% for d in available_dates %}
            <a href="{% url 'quant.sa.month_date' date_str=d|date:'Y-m' %}{{ carry_query }}"
               class="{% if d == chosen_date %}active{% endif %}">{{ d|date:'Y-m' }}</a>
        {% endfor %}
    </nav>
    {% include "datatables/cols.category-rows.stock.html" with data=quant_list value_to_display=value_to_display %}
{% endblock %}
