# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/deployment.xml
/runConfigurations/Start_Server.xml
/runConfigurations/Generate_Monthly_SA_Dump.xml
