{% load sa_rating_filters %}
<table cellpadding="2" border="1" class="sortable">
    <tr>
        <th>Symbol</th>
        <th>Links</th>
        <th>Company</th>
        {% get_types as types %}
        {% for type in types.values %}
            <th>{{ type }}</th>
        {% endfor %}
    </tr>
    {% for symbol, stock in data.items %}
        <tr>
            <td>
                {{ symbol }}
            </td>
            <td>
                <a href="https://ca.finance.yahoo.com/quote/{{ symbol }}" target="Ya_{{ symbol }}">Ya</a>
                <a href="https://seekingalpha.com/symbol/{{ symbol }}" target="SA_{{ symbol }}">SA</a>
            </td>
            <td>
                {{ stock.name }}
            </td>
            {% for type in stock.types.values %}
                {% if value_to_display == "score" or value_to_display == "score_decay" %}
                    <td data-sort="{{ type.score }}" title="Count: {{ type.count }}">{{ type.score }} ({{ type.count }})</td>
                {% elif value_to_display == "count" %}
                    <td data-sort="{{ type.count }}" title="Score: {{ type.score }}">{{ type.count }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>